html {
  box-sizing: border-box;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  display: block;
  background-color: #dcd4cd;
  border: #9a816d 3px solid;
  border-radius: 3px;
  padding: .5em .73em;
  text-decoration: none;
  color: #512200;
}

.para {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  font-family: Georgia;
  line-height: 1.5;
  margin: 0 0 .3em;
  border-bottom: #9a816d 2px solid;
}

.link-card h2 {
  font-size: 1.5rem;
  font-family: Dosis, sans-serif;
  font-weight: bold;
  color: #512200;
  margin: 0;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-radius: 8px;
  background-color: #785439;
  color: #f0eee8;
  padding: .4em .75em .5em;
  font-size: 1rem;
  font-family: Dosis, sans-serif;
}

.link {
  text-align: center;
}

.link-card:hover {
  background-color: #cabdb2;
}

.column {
  display: inline-block;
  line-height: 1.5;
  padding: 0;
  padding-bottom: .75em;
  border-bottom: #9a816d 2px solid;
  text-align: left;
  margin: 0 0 1rem;
}

dt {
  display: inline-block;
  list-style-type: none;
  float: left;
  width: 30%;
  padding-left: 0;
  font-size: .875rem;
}

dd {
  display: inline-block;
  list-style-type: none;
  float: left;
  width: 30%;
  font-size: .875rem;
}

.first {
  display: block;
}
