html {
  box-sizing: border-box;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  background-color: #dcd4cd;
  border: #9a816d 3px solid;
  border-radius: 3px;
}

.para {
  padding: 0 1rem;
  padding-bottom: 1rem;
  font-size: .975rem;
  font-family: georgia;
  line-height: 1.5;
  margin: 1rem 0 0;
  border-bottom: #9a816d;
}
