html {
  box-sizing: border-box;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  display: block;
  background-color: #dcd4cd;
  border: #9a816d 3px solid;
  border-radius: 3px;
  padding: 0 .4em;
  text-decoration: none;
  color: #512200;
}

.para {
  padding-right: .4em;
  padding-left: .2em;
  padding-bottom: 1rem;
  font-size: .975rem;
  font-family: georgia;
  line-height: 1.5;
  margin: 1rem 0 0;
  border-bottom: #9a816d 2px solid;
}

.link-card h2 {
  padding: .3rem 1rem;
  font-size: 1.5rem;
  font-family: Dosis, sans-serif;
  font-weight: bold;
  color: #512200;
  margin: 0;
}

dl {
  font-size: .875rem;
  text-decoration: none;
  font-family: Georgia;
  padding: 0 1rem;
  margin: 1rem;
  text-align: left;
}

.btn {
  border-radius: 8px;
  background-color: #785439;
  color: #f0eee8;
  padding: .4em .75em .5em;
  display: inline-block;
  font-size: 1rem;
  font-family: Dosis, sans-serif;
  text-align: center;
}

.link-card:hover {
  background-color: #cabdb2;
}

.column {
  display: inline-block;
  line-height: 1.5;
  text-align: left;
  border-bottom: #9a816d 2px solid;
}

dt {
  display: inline-block;
  float: left;
  list-style-type: none;
  padding-left: 0;
}

dd {
  display: inline-block;
  float: right;
  list-style-type: none;
  text-align: left;
}

.first {
  display: block;
}
